<div class="cartBox" *ngIf="validLogin">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Phone</th>
                <th>Date</th>
                <th style="width: 25%;">Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of adminCarts; let index = index" >
                <td></td>
                <td>{{item.name}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.date | date:"shortDate"}}</td>
                <td>
                    {{item.products.length}}
                </td>
                <td>
                    <button class="btn view" (click)="view(index)" >View</button>
                    <button class="btn btn-danger" (click)="deleteCart(item.cartsId)" >Delete</button>
                </td>
            </tr>
        </tbody> 
        
    </table>
    
</div>

<div class="form" *ngIf="!validLogin">
    <mat-form-field class="example-full-width" appearance="fill" [class.form-is-valid]="name.valid">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="name" [class.is-invalid]="name.invalid" [class.is-valid]="name.valid" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Passowrd</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" >
        <button class="hide" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
      
    <input class="login" type="button" value="Login" (click)=login()>
</div>