.content-outer-container{
    height: 100%;
}
.content-inner-container{
    padding-bottom: 36px;
}

app-footer{
    margin-top: -36px;
    position: static;
    bottom: 0;
    width: 100%;
}

.con{
    position: relative;
}

.container{}