<footer>
    <div class="up">
        <div class="left">
            <!-- <div class="mobile">
                <a href="tel:+963962786472">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <h3>+971 56 934 8886</h3>
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div> -->
            
        </div>
        <!-- <div class="right">
            <ul>
                <li><a href="https://www.facebook.com/hala.boutiqu.5">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a></li>
                <li><a href="https://www.instagram.com/hala.boutique7/">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a></li>
            </ul>
        </div> -->
    </div>
    <div class="down">
        <hr>
        <p>© All Rights Reserved {{date}}. Made with <fa-icon class="heart" [icon]="faHeart"></fa-icon> by <a href="https://akrambazerbashi.pages.dev/">Akram
                Bazerbashi</a> </p>
    </div>
</footer>