.ok{
    border: none;
    background-color: #9FBCC2;
    color:#FAE5F6;
    &:hover{
        background-color: #b9dde4;
    }
}

.cancel{
    margin-right: 10px;
    border: none;
    background-color: #DD200B;
    color:#FAE5F6;
    &:hover{
        background-color: #d85648;
    }
}