/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0!important;
  }
  *{
    font-family: cursive;
}
html, body { height: 100%;margin: 0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color1: #9FBCC2;
$color2: #FAE5F6;
$color3: #DD200B;

body{
  background-color: #9FBCC2;
}


